.mat-card {
  text-align: center;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  position: relative;
  .mat-icon-button {
    position: absolute;
    right: -18px;
    top: -18px;
  }
  .mat-card-header {
    justify-content: center;
    margin-bottom: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}