<div class="wave">
  <mat-toolbar>
    <span (click)="toHome()">Stubz</span>
    <div id="button__container">
      <button mat-icon-button title="Home" (click)="toHome()" aria-label="Change user data">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button title="User Favorites" (click)="toFavorites()" aria-label="Change user data">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button title="User account" (click)="toUser()" aria-label="Change user data">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button title="Logout" (click)="userLogout()" aria-label="Logout">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>