#mat-dialog-0 {
  display: flex;
  flex-wrap: wrap;
}

.movies-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 30px;
  // background-color: #202136;
  @media screen and (max-width: 500px) {
    padding: 0;
  }
}

.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px;
  background-color: #27273f;
  max-width: 300px;
  width: 300px;
  .mat-icon-button {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  img {
    max-width: 250px;
  }
  .mat-card-header {
    text-align: center;
  }
  .mat-card-actions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}