<mat-card>
  <mat-card-header>
    <mat-card-title>Sign Up!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text" name="Username"
          pattern="[a-zA-Z0-9]+" minlength="5" required>
        <mat-error>
          An alphanumeric username with a minimum of 5 characters is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="userData.Password" type="password" placeholder="Password" name="Password" required>
        <mat-error>
          Password is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="userData.Email" type="email" placeholder="Email" name="Email"
          pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" r equired>
        <mat-error>
          Please enter a valid Email address.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="userData.Birthday" type="date" placeholder="Birthday" name="Birthday">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="registerUser()" color="primary">
      Sign Up
    </button>
  </mat-card-actions>
</mat-card>